<h1><%= @team.name %></h1>

<h2>Team Motto: <%= @team.motto %></h2>

<h2>Hero Name: <%= @heroes.first.name %></h2>
<p>Hero Power: <%= @heroes.first.power %><br>
Hero Biography: <%= @heroes.first.bio %></p>


<h2>Hero Name: <%= @heroes[1].name %></h2>
<p>Hero Power: <%= @heroes[1].power %><br>
Hero Biography: <%= @heroes[1].bio %></p>



<h2>Hero Name: <%= @heroes.last.name %></h2>
<p>Hero Power: <%= @heroes.last.power %><br>
Hero Biography: <%= @heroes.last.bio %></p>